{{- if and (eq .Lang "fr") (not (in .Site.Params.canonicalDefinition "déplacent")) -}}
  {{- errorf "BUILD ERROR: params.canonicalDefinition must contain the word 'déplacent'. Current value: %q." .Site.Params.canonicalDefinition -}}
{{- end -}}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  {{- partial "head.html" . -}}
</head>
<body>
  <div class="site-wrapper">
    {{- partial "header.html" . -}}
    <main class="site-main">
      {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . -}}
  </div>
</body>
</html>
