{{ if eq .Type "awp" }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ScholarlyArticle",
  "headline": {{ .Title | jsonify }},
  "author": {
    "@type": "Person",
    "name": "Stéphane Lalut",
    "identifier": "https://orcid.org/0009-0002-1794-4895"
  },
  "datePublished": "{{ .Date.Format "2006-01-02" }}",
  "description": {{ .Description | jsonify }},
  {{ with .Params.doi_zenodo }}"identifier": "https://doi.org/{{ . }}",{{ end }}
  {{ with .Params.url_zenodo }}"url": "{{ . }}",{{ end }}
  "publisher": {
    "@type": "Organization",
    "name": "Zenodo"
  },
  "inLanguage": "fr",
  {{ with .Params.keywords }}"keywords": {{ . | jsonify }},{{ end }}
  "isPartOf": {
    "@type": "CreativeWorkSeries",
    "name": "Anthropie Working Papers"
  }
}
</script>
{{ end }}
